<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.facebeauty.face_beauty_analyze.mapper.FaceAnalysisResultMapper">

    <resultMap id="BaseResultMap" type="com.facebeauty.face_beauty_analyze.entity.FaceAnalysisResult">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="image_name" property="imageName" jdbcType="VARCHAR"/>
        <result column="analysis_json" property="analysisJson" jdbcType="LONGVARCHAR"/>
        <result column="face_count" property="faceCount" jdbcType="INTEGER"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, image_name, analysis_json, 
        face_count, created_time, updated_time
    </sql>

    <insert id="insert" parameterType="com.facebeauty.face_beauty_analyze.entity.FaceAnalysisResult">
        INSERT INTO face_analysis_results
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imageName != null">image_name,</if>
            <if test="analysisJson != null">analysis_json,</if>
            <if test="faceCount != null">face_count,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="imageName != null">#{imageName,jdbcType=VARCHAR},</if>
            <if test="analysisJson != null">#{analysisJson,jdbcType=LONGVARCHAR},</if>
            <if test="faceCount != null">#{faceCount,jdbcType=INTEGER},</if>
        </trim>
    </insert>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM face_analysis_results
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM face_analysis_results
        ORDER BY created_time DESC
    </select>

    <select id="selectByImageName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM face_analysis_results
        WHERE image_name LIKE CONCAT('%', #{imageName}, '%')
        ORDER BY created_time DESC
    </select>

    <update id="update" parameterType="com.facebeauty.face_beauty_analyze.entity.FaceAnalysisResult">
        UPDATE face_analysis_results
        <set>
            <if test="imageName != null">
                image_name = #{imageName,jdbcType=VARCHAR},
            </if>
            <if test="analysisJson != null">
                analysis_json = #{analysisJson,jdbcType=LONGVARCHAR},
            </if>
            <if test="faceCount != null">
                face_count = #{faceCount,jdbcType=INTEGER},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM face_analysis_results
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

</mapper>